.navbar {
  background-color: #0A0A0A;  
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.logo {
  width: 40px;
  height: 40px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  justify-content: center;  
}

.navList li {
  margin-bottom: 1.5rem;
}

  
.navList a {
    text-decoration: none;
    color: #333;  
    font-weight: 500;  
    transition: color 0.3s ease;  
  }
  
  .navList a:hover {
    color: #007bff;  
  }
  
 .menuIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content:flex-end; 
    padding:10px; 
    margin-bottom: 10px;
    color: #333;  
    &:hover {
      color: #007bff;
    }
  }

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  filter: brightness(1.5);
}
.dropdown {
    position: absolute;
    bottom:20px;  
    background:transparent;
    padding: 10px;
    z-index: 101;
    margin-left: 100px;
    margin-top: 100px;
  } 
  
  .dropdown button {
    background-color: #181818;
    margin-top: 100px;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 30px;
    text-align: left;
  }
  
 