.main {
    display: flex;
    flex-direction: column;
    background-color: #0A0A0A;
    min-height: 100vh;
     
  }
  
  .navbar-container {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100vw;  
    height: 60px;  
    background-color: #0A0A0A; 
    display: flex;
    align-items: center;
    justify-content: space-between;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000;  
  }
  
  .hello {
    width: 640px;
    height: calc(100vh - 60px); /* Adjust height to account for the fixed navbar */
    color: white;
    background-color: #0A0A0A;
    text-align: center;
    margin: 0 auto; /* Center align the content */
    padding: 20px; /* Optional padding for better spacing */
  }
  