.main {
    display: flex;
    justify-content: center; /* Centers the .hello div horizontally */
    align-items: center; /* Centers the .hello div vertically */
    background-color: #0A0A0A;
    min-height: 100vh; /* Ensures the full viewport height is used */
    position: relative; /* Allows positioning of the Navbar */
  }
  
  .navbar-container {
    position: absolute;
    left: 0; /* Aligns the Navbar to the left */
    top: 0; /* Aligns the Navbar to the top */
    height: 100%; /* Makes the Navbar full height if necessary */
    display: flex;
    align-items: center; /* Centers the Navbar content vertically */
  }
  
  .hello {
    width: 640px;
    height: 100vh;
    color: white;
    background-color: #ffffff;
    text-align: center;
  }
  