.replies-container {
    padding: 24px;
    background-color: transparent;
    border-radius: 12px;
    max-width: 700px;
    margin: 20px auto;
    
}

.loading-text,
.error-text,
.no-replies {
    font-size: 18px;
    text-align: center;
    color: #888;
    margin: 20px 0;
}

.post-userProfilePic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
    
}
.post-username {
    color: red;
}
.reply-item {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: transparent;  
    
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

   

    h2 {
        font-size: 18px;
        font-weight: bold;
        color: #f1f1f1; 
        margin-bottom: 8px;
    }

    .post-image {
        max-width: 100%;
        margin: 10px 0;
        border-radius: 8px;
        object-fit: cover;
        
    }
}

.reply-content {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;

    .reply-user-info {
        display: flex;
        align-items: center;
        margin-right: 12px;

        .reply-userProfilePic {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #444;  
            margin-right: 8px;
        }

        .reply-username {
            font-size: 16px;
            font-weight: bold;
            
            
        }
    }

    .reply-text {
        font-size: 15px;
        color: #fff;
        background-color: #333;  
        padding: 12px;
        border-radius: 8px;
        max-width: 80%;
        word-wrap: break-word;

    }
}
