 

.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;  
    position: static;
            
  }
  .bigbox{
    display: flex;
    width: 100%;
   
    justify-content: space-between;
   
    z-index: 9;
  }
  .box1 {
    width: 34px;
    height: 34px;
    background-color: #fff;
    
   position: fixed;
   align-self: flex-end;
    z-index: 7;
    border-top: 1px solid #383939;
    border-left: 1px solid #383939;
    border-radius: 24px 0px 50px 0px;
}

.box2 {
    width: 34px;
    height: 34px;
    background-color: #fff;
    
    position: fixed;
    z-index: 7;
    border-top: 1px solid #383939;
    border-right: 1px solid #383939;
    border-radius: 0px 24px 0px 50px;
}

.samllbox1{
    width: 36px;
    height: 36px;
    background-color: #0A0A0A;
    position:  absolute;
    top:40px;
    right: 250px;
    z-index: 6;
    // border-top: 1px solid #383939;
     
}
.samllbox2{
    width: 36px;
    height: 36px;
    background-color: #0A0A0A;
    position:  absolute;
    top:40px;
    left: 240px;
    z-index: 6;
    // border-top: 1px solid #383939;
}
  .navbar-container {
    position: absolute;
    left: 0;  
    top: 0;  
    height: 100%;  
    display: flex;
    align-items: center;  
  }

  .main {
    width: 640px;
    height: 100vh;
    background:transparent;
    text-align: center;
    border-radius: 16px;
  }

  .heading{
    z-index: 5;
    background-color: #0A0A0A;
    font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    position: fixed;
    width: 640px;
    height: 60px;
    border-bottom: 1px solid #383939;
    
    
  }
  .posts-container {
     background-color: #181818;
     padding-top: 59px;
     
     height: 100%;
     width: 100%;
    //  border-radius: 16px;
    border: 1px solid #383939;
  }
  .new-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
    border-bottom: 1px solid #383939;
  }
  .dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
 .profile-image{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
  }
  .new{
   
    color: #696969;
    padding: 12px 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
   
  }
 
  .past-btn {
    background-color: #0A0A0A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 16px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;  
}
.posts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
     
    
}

.post-item {
    background-color: #fff;
    color: #333;
    padding: 15px; 
    border-bottom: 1px solid #383939;
}
.post-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background:transparent;
    
}
 .post-image {
    width: 50%;
    height: 50%;
    margin-left: 50px;
    object-fit: cover;
    border-radius: 8px;
    align-self: flex-start;
   
}
.time{
   color:#666666;
   align-self: flex-end;
   
  }

.post-user{
    display: flex;
    // justify-content: space-between;
    width: 100%;
    
}
.profile-name:hover{
     text-decoration: underline;
   }
.profile-name{
    color: #fff;
    font-size: 20px;  
}

.user-name_time{
    margin-left: 10px;
    display: flex;
     gap: 10px;
    
}
.post-text{
    text-align: left;
    margin-left: 10px;
}
.post-thread{
    display: flex;
    justify-content: end;
    
}
.image-preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    align-self: flex-start;
}
 
.thread {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;

    .thread-textarea {
        outline: none;
        background-color: #181818;
        padding: 16px;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        font-size: 16px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        resize: none;
        
        &::placeholder {
            color: #aaa;
            font-size: 14px;
        }
    }

    
}
.file-upload-container {
    position: relative;
    display: inline-block;

    .file-input {
        opacity: 0;             // Make the file input invisible
        position: absolute;      // Position it over the label
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;         // Ensure the cursor changes to pointer for interaction
    }

    .file-upload-label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
         
        color: white;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        
 
    }
}

.post-icons{
    display: flex;
    justify-content:flex-start;
    gap: 10px;
    padding: 0px 24px;
    align-items: center;
   
    width: 100%;
}