.container{
    color: blue;
    background-color: white;
    width: 100%;
    height: 100%;
    
} 
.title{
  background-color: red;
  
  top: 0;
  left: 0;
 
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  z-index: 1000;
}