/* search.module.scss */

.search-container {
    padding-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  .search-input {
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    color: #333;
  }
  
  .search-input::placeholder {
    color: #999;
  }
  
  .results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .result-item {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease-in-out;
  }
  
 
  
  .post-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .profile-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  
  .post-text {
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.5;
    color: #555;
  }
  
   .user-info{
    display: flex;
    flex-direction: column;
    
   }
  
 
  @media (max-width: 768px) {
    .result-item {
      flex-direction: column;
    }
  
    .profile-image {
      width: 40px;
      height: 40px;
    }
  
    
  }
  .follow-btn{
    background-color: #181818;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-self: flex-end;
  }
  .follow-btn:hover{
    background-color: #fff;
    color: #181818; 
  }
  .follow-btn:active{
    background-color: #fff;
    color: #181818;
  }
  .search{
    z-index: 5;
    background-color: #fff;
    position: fixed;
    width: 500px;
     
  }