.container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;  
    position: static;
            
  }
   
  .navbar-container {
    position: absolute;
    left: 0;  
    top: 0;  
    height: 100%;  
    display: flex;
    align-items: center;  
  }

  .main {
    
    width: 640px;
    height: 100vh;
    background:transparent;
    text-align: center;
    border-radius: 16px;
  }
  .heading{
     
    background-color: #0A0A0A;
    padding: 16px;
  }
  .posts-container {
     background-color: #f0e7e7;
     padding-top: 16px;
     height: 100%;
     width: 100%;
     border-radius: 16px;
  }
  .new-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 24px;
    border-bottom: #fff 1px solid;
  }
  .dp{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
 .profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .new{
   
    color: #696969;
    padding: 12px 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
   
  }
 
  .past-btn {
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 16px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;  
}
.posts-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-item {
    background-color: #fff;
    color: #333;
    padding: 15px;
    border-radius: 8px;
    
}
.post-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background:transparent;
    
}
 .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
   
}
